* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
}

/* Variables */
:root {
    --primaryColor: #4D1BB8;
    --primaryDarkColor: #2F1C6A;
    --primaryLightColor: #6F5BEB;
    --secondaryColor: #FC5184;
}

/* Global Styles */
a {
    text-decoration: none;
}

li {
    list-style: none;
}

button, input {
    border: none;
    outline: none;
}

/* Header */
header {
    width: 100%;
    height: 80vh;
    background: linear-gradient(79.1deg, var(--primaryColor) -0.02%, var(--primaryLightColor) 100.03%);
}

/* Navigation Bar */
nav {
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

nav .logo {
    width: 100px;
}

nav .logo img {
    width: 100%;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: #fff;
}

nav ul li a:hover {
    color: #d8d8d8;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

/* Hero Section */
.hero {
    width: 100%;
    height: 90%;
}

.hero .hero-container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    position: relative;
}

.hero .hero-container .hero-left {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.hero .hero-container .hero-left h1 {
    font-size: 70px;
    color: #fff;
    margin-bottom: 10px;
}

.hero .hero-container .hero-left h3 {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
}

.hero .hero-container .hero-right {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .hero-container .hero-right .hero-plan {
    width: 100%;
    height: 220px;
    background: #fff;
    padding: 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .hero-container .hero-right .hero-plan .plan-text p {
    color: var(--secondaryColor);
}

.hero .hero-container .hero-right .hero-plan h1 {
    font-size: 70px;
    color: var(--primaryDarkColor);
}

.hero .hero-container .search-box {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    display: flex;
    border: 1px solid var(--primaryLightColor);
    background: #fff;
    width: 700px;
    height: 100px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.hero .hero-container .search-box input {
    width: 70%;
    height: 100%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding-left: 20px;
    font-size: 22px;
    color: var(--primaryDarkColor);
}

.hero .hero-container .search-box input::placeholder {
    color: var(--primaryDarkColor);
}

.hero .hero-container .search-box button {
    width: 30%;
    height: 101px;
    font-size: 22px;
    background: var(--primaryLightColor);
    color: #fff;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    position: absolute;
    top: -2px;
    right: -20px;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.hero .hero-container .search-box button:hover {
    background: var(--primaryColor);
}